body{
    background-color: #A3CCAB;
    text-align: center;
    color: antiquewhite;
}
.botaovoltar{
    width: 60px;
    height: 40px;
    border-radius: 40px;
}
button{
    background-color: #022859;
    color: aliceblue;
    border-radius: 40px;
    border: none;
    font-size: 35px;
    width: 50px;
    margin-left: 70px;
    margin-top: 35px;
    cursor: pointer ;
}
.home:hover{
    background-color: #0c3366;
}
.gato{
    object-fit: contain;
    width: 200px;
    height: 200px;
}