/*botoes na barra superior*/@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Righteous&family=Rokkitt:ital,wght@1,100..900&family=Sen:wght@400..800&display=swap');
/*titulo Luza Fischer*/@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Cinzel+Decorative:wght@400;700;900&family=Righteous&family=Rokkitt:ital,wght@1,100..900&family=Sen:wght@400..800&display=swap');

/*    cores 
#F2506E - rosa forte
#565959 - cinza claro
#9fddab - verde claro
#0D0D0D - preto 
#1A1E1D - cinza escuro
#ee768c - rosa claro
*/
body{
    background-color: #1A1E1D;
    min-width: 100vw;
    min-height: 100%;
    overflow-x:hidden ;
 }
 *{
    padding: 0;
    margin: 0   ;
}
.botaovoltar{
    width: 60px;
    height: 40px;
    border-radius: 40px;
}
button{ 
    background-color: #F2506E;
    color: aliceblue;
    border-radius: 40px;
    border: none;
    font-size: 35px;
    width: 50px;
    margin-left: 70px;
    margin-top: 35px;
    cursor: pointer;
}

/*PAGINA DAS MATERIAS*/

.pageprimeirotri {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    padding: 20px;
}

.primeirotri{ /*Titulo*/
    font-size: 45px;
    color: #F2506E;
     font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-shadow: #3d3c3c71  0.1em 0.1em 0.2em;
}
.materiast1 {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px;
    max-width: 90%;
    margin: 0 auto; 
    justify-items: center; 
    align-items: center; 
}
.materias {
    background-color: #F2506E;
    width: 250px;
    height: 180px;
    border-radius: 0px 60px 0px 20px;
    font-size: 19px;
    color: #ffffff;
    text-align: center;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: 0.3s all; 
    box-shadow: 10px 12px #a3ccab;
    font-family: "Cinzel Decorative", serif;;
}
.sematividade{
    font-size: 15px;

}
.materias:hover {
    transform: scale(1.1);
   
}
a{
    text-decoration: none;
    color: white;
}
.home:hover{
    background-color: #ee768c;
}