/*titulo Luza Fischer*/@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Cinzel+Decorative:wght@400;700;900&family=Righteous&family=Rokkitt:ital,wght@1,100..900&family=Sen:wght@400..800&display=swap');

body{
    background-color:  #A3CCAB;
    min-width: 100vw;
    min-height: 100%;
    overflow-x:hidden ;
 }
 .botaovoltar{
    width: 60px;
    height: 40px;
    border-radius: 40px;
}
button{
    background-color: #022859;
    color: aliceblue;
    border-radius: 40px;
    border: none;
    font-size: 35px;
    width: 50px;
    margin-left: 70px;
    margin-top: 35px;
}
 *{
    padding: 0;
    margin: 0   ;
}

#primeiro{
    color: antiquewhite;
}

/*PAGINA DAS MATERIAS*/
.pagesegundotri{
    background-color: #A3CCAB;
    font-weight: weight;
    font-style: normal;
    height: 497px;
}
.onda{
    position: absolute;
    bottom: 0;
}
.segundotri{ 
    font-size: 45px;
    color:#022859;
     font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}
.materiast2{  
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 310px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
} 
.materias{  
    margin: auto;
    background-color: #053D38;
    width: 280px;
    height: 200px;
    border-radius:0px 60px 0px 30px;
     font-size: 27px;
    color: #ffffff;
    text-align: center;
    justify-content: space-around;
    transition: 1s all;
}
.materias:hover{
    width: 285px;
    height: 220px;
}
a{
    text-decoration: none;
    color: white;
}
.home:hover{
    background-color: #2d5488;
}
