/*titulo Luza Fischer*/@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Cinzel+Decorative:wght@400;700;900&family=Righteous&family=Rokkitt:ital,wght@1,100..900&family=Sen:wght@400..800&display=swap');

body{
    background-color: #348888;
    min-width: 100vw;
    min-height: 100%;
    overflow-x:hidden ;
 }
 *{
    padding: 0;
    margin: 0   ;
}
a{
    text-decoration: none;
    color: #22BABB;
}
.trabalhos{
    margin: auto;
}
h2{
    text-align: center;
    color: #F2B705;
    font-size: 40px;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-shadow: #00e1ff6c  0.1em 0.1em 0.2em;
}
h1{
    font-size: 25px;
    color: #22BABB;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}
p{
    width:580px;
    height: 200px;
    margin: auto;
    color: #055252;
    text-align: center;
}
.atiling{
    background-color: #ffffff;
    width: 880px;
    height: 100px;
    margin: auto;
    text-align: center;
    border-radius: 50px;
    text-align: center;
    box-shadow: 10px 10px 10px 5px  #03aab69a;
    
}
.onda{
    position: absolute;
    bottom: 0;
}
.botaovoltar{
    width: 60px;
    height: 40px;
    border-radius: 40px;
}
button{
    background-color: #FA7F08;
    color: aliceblue;
    border-radius: 40px;
    border: none;
    font-size: 35px;
    width: 50px;
    margin-left: 70px;
    margin-top: 35px;
    cursor: pointer ;
}
.home:hover{
    background-color: rgba(1, 179, 164, 0.925);
}